.landingWrapper {
    height: 100svh;
    width: 100svw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landingWrapper:first-child(div) {
    margin: 15px;
}

.landingWrapper a,
.landingWrapper a:visited {
    text-decoration: none;
    font-weight: bold;
    color: rgb(212, 212, 212);
}

.landingWrapper a:hover {
    color: white;
}