.articleWrapper {
    padding-top: 50px;
}

.header {
    padding: 20px;
}

.articleContent {
    padding: 0 20px 20px 20px;
}

.articleContent p,
.articleContent li {
    line-height: 1.6rem;
    font-size: 0.9rem;
}

.articleContent code {
    padding: 1px 3px;
    border-radius: 2px;
    background-color: #424242;
}

.articleContent h2 {
    margin-top: 40px;
}

@media screen and (min-width: 850px) {
    .articleWrapper {
        width: 850px;
        margin: 0 auto;
    }

    .articleContent p,
    .articleContent li {
        line-height: 1.9rem;
        font-size: 1rem;
    }
}